<div class="cursor-pointer rounded-lg">

    <div class="flex flex-col justify-center items-center mt-5">
        <div class="pt-4 flex items-center space-x-4">
            <button
              routerLink="/dealerform"
              class="bg-blue-500  gap-2 flex justify-center hover:bg-sky-950 items-center w-full text-white px-4 py-3 rounded-md focus:outline-none"
            >
             <span class="font-bold tetx-lg"> + </span> Add New Dealer
            </button>
          </div>
      <h1 class="text-2xl mt-5 font-bold">Dealer List</h1>
    </div>
    <table
      class="w-[1500px]  border-collapse items-center cursor-pointer bg-white text-left  text-gray-500 border border-gray-200 shadow-md m-5"
    >
      <thead class="bg-gray-400 rounded-lg">
        <tr>
          <th scope="col" class="px-5 py-4 font-medium text-gray-900">UserId</th>
          <th scope="col" class="px-3 py-4 font-medium text-gray-900">Name</th>
          <th scope="col" class="px-3 py-4 font-medium text-gray-900">Company Name</th>
          <th scope="col" class=" px-3 py-4 font-medium text-gray-900">Mobile No </th>
          <th scope="col" class="px-3 py-4 font-medium text-gray-900">Email </th>
          <th scope="col" class=" px-3 py-4 font-medium text-gray-900">Date Of Birth</th>
          <th scope="col" class=" px-3 py-4 font-medium text-gray-900">GST IN </th>
          <th scope="col" class="px-3 py-4 font-medium text-gray-900">Pan No </th>
          <th scope="col" class="px-3 py-4 font-medium text-gray-900"> Opening Balance</th>
          <th scope="col" class="px-3 py-4 font-medium items-center text-center text-gray-900"> Action</th>
        </tr>
      </thead>
      <tbody
        class="divide-y divide-gray-300 border-t border-gray-100"
        *ngFor="let item of dealerdata"
      >
      <tr class="hover:bg-gray-100 hover:border-indigo-700 hover:border-dashed">
        <td class="px-5 py-4">{{ item.userid }}</td>
        <td class="px-3 py-4">{{ item.name }}</td>
        <td class="px-3 py-4">{{ item.company_name }}</td>
        <td class="px-3 py-4">{{ item.mobile_no }}</td>
        <td class="px-3 py-4">{{ item.email}}</td>
        <td class="px-3 py-4">{{ item.date_of_birth }}</td>
        <td class="px-3 py-4">{{ item.gstin }}</td>
        <td class="px-3 py-4 ">{{ item.pan_no}}</td>
        <td class="px-3 py-4 text-center">{{ item.opening_balance }}</td>
        <td class="px-3 py-4">
            <div class="flex gap-2">
              <button  (click)="deleteDealer(item.id)"
              class="text-slate-800 hover:text-blue-600 text-sm bg-white hover:bg-slate-100 border border-slate-200 rounded-r-lg font-medium px-4 py-2 inline-flex space-x-1 items-center">
              <span>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                      stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round"
                          d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                  </svg>
              </span>
              <span class="hidden md:inline-block">Delete</span>
          </button>
            
              <button  (click)="editDealer(item)"
              class="text-slate-800 hover:text-blue-600 text-sm bg-white hover:bg-slate-100 border border-slate-200 rounded-l-lg font-medium px-4 py-2 inline-flex space-x-1 items-center">
              <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                      stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round"
                          d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                  </svg>
              </span>
              <span class="hidden md:inline-block">Edit</span>
          </button>
            </div>
          </td>
      </tr>
      </tbody>
    </table>
  </div>
  